/*-------------------------------------------
共通 css
-------------------------------------------*/
:root {
    --main-bg-color: #050507;
    --font-color: #ffffff;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: "Source Sans 3", Meiryo, serif;
    margin: unset;
    background-color: var(--main-bg-color);
}
img {
    display: block;
    width: 100%;
}
li {
    list-style: none;
}
h1, h2, p, menu, button, ul {
    margin: unset;
    padding: unset;
}
h1 {
    font-weight: 300;
    font-size: 48px;
    color: var(--font-color);
    letter-spacing: 0.03em;
    text-align: center;
}
h2 {
    font-weight: 300;
    font-size: 32px;
    color: var(--font-color);
    letter-spacing: 0.03em;
    border-bottom: solid 1px var(--font-color);
    margin-bottom: 45px;
}
a, a:visited {
    font-weight: 300;
    font-size: 12px;
    color: var(--font-color);
    text-decoration: none;
}
a.button {
    font-weight: 300;
    font-size: 16px;
}
p {
    font-weight: 300;
    font-size: 16px;
    color: var(--font-color);
    text-align: center;
}
p.copy {
    font-weight: 300;
    font-size: 12px;
    color: var(--font-color);
}
button {
    background-color: var(--main-bg-color);
    border: unset;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: var(--font-color);
}
div.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*-------------------------------------------
header
-------------------------------------------*/
header {
    display: none;
}
/*-------------------------------------------
aside
-------------------------------------------*/
aside {
    display: none;
}
/*-------------------------------------------
MainVisual
-------------------------------------------*/
div#MainVisual {
    display: flex;
    transform: translateX(-100%);
}
/*-------------------------------------------
Title
-------------------------------------------*/
div#Title {
    margin: 50px 0;
}
/*-------------------------------------------
Information
-------------------------------------------*/
article#Information {
}
/*-------------------------------------------
Gallery
-------------------------------------------*/
article#Gallery {
}
/*-------------------------------------------
Access
-------------------------------------------*/
article#Access {
    background-image: url("https://github.com/makowithyou/CodingPractice_gallery/blob/main/images/bg.jpg?raw=true");
}
/*-------------------------------------------
Contact
-------------------------------------------*/
article#Contact {
}
/*-------------------------------------------
footer
-------------------------------------------*/
article#footer {
}


/* 狭い画面向けの既定の CSS レイアウト値 */

@media (min-width: 480px) {
  /* 中型の画面向けの CSS */
}

@media (min-width: 800px) {
  /* 広い画面向けの CSS */
}

@media (min-width: 1100px) {
  /* 本当に広い画面向けの CSS */
}
