/*-------------------------------------------
共通 css
-------------------------------------------*/
:root {
    --main-bg-color: #050507;
    --font-color: #ffffff;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: "Source Sans 3", Meiryo, serif;
    margin: unset;
    background-color: var(--main-bg-color);
}
img {
    display: block;
    width: 100%;
}
li {
    list-style: none;
}
h1, h2, p, menu, button, ul {
    margin: unset;
    padding: unset;
}
h1 {
    font-weight: 300;
    font-size: 48px;
    color: var(--font-color);
    letter-spacing: 0.03em;
}
h2 {
    font-weight: 300;
    font-size: 32px;
    color: var(--font-color);
    letter-spacing: 0.03em;
    border-bottom: solid 1px var(--font-color);
    margin-bottom: 45px;
    display: inline-block;
}
a, a:visited {
    font-weight: 300;
    font-size: 12px;
    color: var(--font-color);
    text-decoration: none;
}
a.button {
    font-weight: 300;
    font-size: 16px;
    padding: 15px 0;
    width: 252px;
    border: 1px solid #ffffff;
    display: inline-block;
}
p {
    font-weight: 300;
    font-size: 16px;
    color: var(--font-color);
    margin-bottom: 20px;
}
p.place {
    font-weight: 400;
    font-size: 28px;
    color: var(--font-color);
}
p.copy {
    font-weight: 300;
    font-size: 12px;
    color: var(--font-color);
    display: flex;
    column-gap: 30px;
}
footer p {
    font-weight: 300;
    font-size: 12px;
    color: var(--font-color);
}
button {
    background-color: var(--main-bg-color);
    border: unset;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: var(--font-color);
}
div.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
}
address {
    font-style: unset;
}


/*-------------------------------------------
header
-------------------------------------------*/
header {
    padding: 20px 30px;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}
header.show {
    visibility: visible;
    opacity: 1;
}
header a {
    float: left;
    z-index: 2;
}
header a img {
    width: 140px;
}
div#HamburgerButton {
    float: right;
    z-index: 2;
    cursor: pointer;
    width: 30px;
    height: 23px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header div#HamburgerButton span {
    width: 30px;
    height: 1px;
    display: inline-block;
    background-color: #ffffff;
    transition: all 0.5s;
}
header div#HamburgerButton span:first-of-type {
    transform: translateY(0px);
}
header div#HamburgerButton span:nth-of-type(2) {
    transform: translateY(9px);
}
header div#HamburgerButton span:nth-of-type(3) {
    transform: translateY(18px);
}
header nav#HamburgerMenu {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 90px;
    background-color: var(--main-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all 0.5s;
}
header nav#HamburgerMenu li {
    padding-bottom: 20px;
}
/* open したときここから */
header div#HamburgerButton span.open:first-of-type {
    transform: translateY(10px) rotate(-45deg);
    transition: all 0.5s;
}
header div#HamburgerButton span.open:nth-of-type(2) {
    transform: translateY(9px) rotate(45deg);
    transition: all 0.5s;
}
header div#HamburgerButton span.open:nth-of-type(3) {
    transform: translateY(8px) rotate(45deg);
    transition: all 0.5s;
}

header nav#HamburgerMenu.open {
    transform: translateY(0);
    transition: all 0.5s;
}
/* open したときここまで */


/*-------------------------------------------
aside
-------------------------------------------*/
aside {
    display: none;
}


/*-------------------------------------------
MainVisual
-------------------------------------------*/
div#MainVisual {
    display: flex;
    overflow: hidden;
}
div#MainVisual img {
    transform: translateX(-100%);
}


/*-------------------------------------------
Title
-------------------------------------------*/
div#Title h1 {
    margin: 50px 0;
    text-align: center;
}
div#Title.show {
    opacity: 0;
    animation: fadein 1s 0.25s forwards;
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*-------------------------------------------
Information
-------------------------------------------*/
article#Information h1 {
    margin: 50px 0;
}
article#Information {
    margin-bottom: 80px;
    text-align: center;
}


/*-------------------------------------------
Gallery
-------------------------------------------*/
article#Gallery div.images {
    display: grid;
    row-gap: 30px;
}


/*-------------------------------------------
Access
-------------------------------------------*/
article#Access {
    background-image: url("https://github.com/makowithyou/CodingPractice_gallery/blob/main/images/bg.jpg?raw=true");
    background-position: center;
    padding: 280px 0;
    text-align: center;
}
article#Access address {
    margin-bottom: 30px;
}


/*-------------------------------------------
Contact
-------------------------------------------*/
article#Contact {
    margin-bottom: 200px;
}
article#Contact a.button {
    padding: 30px 0;
    width: 100%;
    margin-bottom: 20px;
    border-color: #7D7D7D;
}


/*-------------------------------------------
footer
-------------------------------------------*/
footer {
    border-top: 1px solid #ffffff;
    padding: 60px 30px;
}
footer p {
    margin-bottom: 0;
}
footer ul {
    display: flex;
    column-gap: 15px;
    margin: 30px 0;
}


/* 狭い画面向けの既定の CSS レイアウト値 */

@media (min-width: 480px) {
  /* 中型の画面向けの CSS */
}

@media (min-width: 800px) {
  /* 広い画面向けの CSS */
}

@media (min-width: 1100px) {
  /* 本当に広い画面向けの CSS */
}
